In [68]:
from functools import reduce
from collections import namedtuple

nums = [1, 3, -2, -4, -7,
        -3, -8, 12, 19, 6,
        9, 10, 14]

In [41]:
"""
Even number
"""
even = lambda x : x % 2 == 0
list(filter(even, nums))

[-2, -4, -8, 12, 6, 10, 14]

In [42]:
"""
Squared positives
"""
positive = lambda x : x > 0
square = lambda x : x ** 2
list(map(square, filter(positive, nums)))

[1, 9, 144, 361, 36, 81, 100, 196]

In [43]:
"""
Squared above 20
"""
above_20 = lambda x : x ** 2 > 20
list(filter(above_20, nums))

[-7, -8, 12, 19, 6, 9, 10, 14]

In [215]:
"""
Average of odd numbers
"""
odd = lambda x : x % 2 == 1
average = lambda x_sum, x_len : x_sum / x_len
len_sum = lambda x : 1
sum_num = lambda x, y : x + y
avg_num = lambda x, y : x / y

odd_nums_len = reduce(sum_num, map(len_sum, filter(odd, nums)))
odd_nums_sum = reduce(sum_num, filter(odd, nums))
# odd_nums_avg = odd_nums_sum / odd_nums_len
odd_nums_avg = reduce(avg_num, [odd_nums_sum, odd_nums_len])
odd_nums_avg

3.6666666666666665

In [169]:
# sum(x for x in nums if x % 2 == 1) / sum(1 for x in nums if x % 2 == 1)

3.6666666666666665

In [57]:
"""
Sum of numbers
"""
even = lambda x : x % 2 == 0
below_10 = lambda x : x <= 10
sum_num = lambda x, y : x + y

print(nums)
print(list(filter(even, nums)))
print(list(filter(below_10, filter(even, nums))))

reduce(sum_num, filter(below_10, filter(even, nums)))

[1, 3, -2, -4, -7, -3, -8, 12, 19, 6, 9, 10, 14]
[-2, -4, -8, 12, 6, 10, 14]
[-2, -4, -8, 6, 10]

2

In [66]:
"""
Contains even numbers
"""
even = lambda x : x % 2 == 0
print(any(filter(even, [1, 7])))
print(any(filter(even, [1, 7, 4])))
print(any(filter(even, [1, 7, 4, 6])))

any(filter(even, nums))

False
True
True

True

In [67]:
"""
All positive
"""
positive = lambda x : x > 0
any(filter(positive, nums))

True

### Students

In [293]:
Student = namedtuple('Student', 'name age gender grades')
john = Student('John', '16', 'male', [5, 5, 4, 2])
jane = Student('Jane', '15', 'female', [4, 3, 4, 4, 5])
bob = Student('Bob', '17', 'male', [2, 2, 3, 1])
alice = Student('Alice', '16', 'female', [4, 5, 5, 4])
mia = Student('Mia', '14', 'female', [3, 3, 4, 4, 5])

students = [john, jane, bob, alice, mia]
students

[Student(name='John', age='16', gender='male', grades=[5, 5, 4, 2]),
 Student(name='Jane', age='15', gender='female', grades=[4, 3, 4, 4, 5]),
 Student(name='Bob', age='17', gender='male', grades=[2, 2, 3, 1]),
 Student(name='Alice', age='16', gender='female', grades=[4, 5, 5, 4]),
 Student(name='Mia', age='14', gender='female', grades=[3, 3, 4, 4, 5])]

In [294]:
"""
1. only includes the boys
"""
male = lambda x : x.gender == 'male'
list(filter(male, students))

[Student(name='John', age='16', gender='male', grades=[5, 5, 4, 2]),
 Student(name='Bob', age='17', gender='male', grades=[2, 2, 3, 1])]

In [295]:
"""
2. only includes who's name starts with the letter J
"""
name_start_letter_J = lambda x : x.name[0] == 'J'
list(filter(name_start_letter_J, students))

[Student(name='John', age='16', gender='male', grades=[5, 5, 4, 2]),
 Student(name='Jane', age='15', gender='female', grades=[4, 3, 4, 4, 5])]

In [296]:
"""
3. only includes the girls
"""
female = lambda x : x.gender == 'female'
list(filter(female, students))

[Student(name='Jane', age='15', gender='female', grades=[4, 3, 4, 4, 5]),
 Student(name='Alice', age='16', gender='female', grades=[4, 5, 5, 4]),
 Student(name='Mia', age='14', gender='female', grades=[3, 3, 4, 4, 5])]

In [426]:
""""
4. the girls who's grade average is above 4
"""
def girl(student):
    return student.gender == 'female'

def avg_grades(grades):
    sum_num = lambda x, y : x + y
    return reduce(sum_num, grades) / reduce(sum_num, map(lambda grade_count : 1, grades))

def above_4(avg_grades):
    return avg_grades > 4

grade = lambda student : student.grades
above_4 = lambda avg_grade : avg_grade > 4

girls_avg_grades_above_4 = filter(lambda student : girl(student)
                                      and above_4(avg_grades(student.grades)), students)
list(girls_avg_grades_above_4)

[Student(name='Alice', age='16', gender='female', grades=[4, 5, 5, 4])]

In [433]:
"""
5. who's at leat two 5s
"""
def grade_len(grades):
    sum_num = lambda x, y : x + y
    return reduce(sum_num, map(lambda grade_count : 1, grades), 0)

def grade_count_not_less_2(grades_len):
    return grades_len >= 2

def grades_equal_5(grades):
    return filter(lambda grade : grade == 5, grades)

got_2_5s = filter(lambda student : grade_count_not_less_2(grade_len(grades_equal_5(student.grades))) ,students)
list(got_2_5s)

[Student(name='John', age='16', gender='male', grades=[5, 5, 4, 2]),
 Student(name='Alice', age='16', gender='female', grades=[4, 5, 5, 4])]

In [437]:
"""
6. who's grade average is above 4 and at least got two 5s
"""

# Based on functions of 4th and 5th.
list(filter(lambda student : grade_count_not_less_2(grade_len(grades_equal_5(student.grades))) and 
                               above_4(avg_grades(student.grades)), 
                    students))

[Student(name='Alice', age='16', gender='female', grades=[4, 5, 5, 4])]

In [348]:
"""
Foreach
"""
def foreach(iterable, func):
    for i in iterable:
        yield func(i)
        
def power(n):
    return n ** 2

test_nums = [1, 2, 3]
list(foreach(test_nums, power))

[1, 4, 9]

In [366]:
"""
Map
"""
def my_map(func, iterable):
    for i in iterable:
        yield func(i)

# list(my_map(lambda x : x + 1, [1, 2, 3]))
list(map(lambda x : x + 1, [1, 2, 3]))

[2, 3, 4]

In [367]:
"""
Filter
"""
def my_filter(func, iterable):
    for item in iterable:
        if func(item):
            yield item
            
list(my_filter(lambda x : x < 3, [1, 2, 3, 4, 5]))

[1, 2]

In [456]:
def fizz_buzz():
    i = 1
    while True:
        if (i % 3 == 0) and (i % 5 != 0):
            yield 'Fizz'
        elif (i % 3 != 0 ) and (i % 5 == 0):
            yield 'Buzz'
        elif (i % 3 == 0) and (i % 5 == 0):
            yield 'Fizz Buzz'
        else:
            yield i
        i = i + 1
        
g_fizz_buzz = fizz_buzz()
for _ in range(16):
    print(next(g_fizz_buzz))

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16

In [474]:
"""
Fibonacci generator
"""
def fibonacci():
    F_1, F_2 = 0, 1
    while True:
        yield F_1
        F_1, F_2 = F_2, F_1 + F_2
            
g_fibonacci = fibonacci()
for _ in range(7):
    print(next(g_fibonacci))

0
1
1
2
3
5
8